<!DOCTYPE HTML>
<html ng-app="employeeApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Add Employee </title>
    <link rel="stylesheet" type="text/css" href="newEmployee.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!--<script src="../../controller/controller.js"></script>-->
    <script src="/controller.js"></script>
  </head>
  <body ng-controller="postController">
      <h1> New Employee </h1>

      <form name="newEmployee" ng-submit="insertData()" >
        <label> First Name </label><br>
        <input type="text" id="text1" placeholder="First Name" ng-model="employee.firstName" required/><br>
        <label> Last Name </label><br>
        <input type="text" id="text2" placeholder="Last Name" ng-model="employee.lastName" required/> <br>
        <label> Hire Date </label><br>
        <input type="text" id="text3" placeholder="Hire Date (YYYY-MM-DD)" ng-model="employee.hireDate" required/> <br>
        <label> Role </label><br>
        <input type="text"  id="text4" placeholder="Role" ng-model="employee.role" required/> <br>
        <button>  Add Employee </button> <br><br>
        <div ng-hide="successMsg">Submitted Successfully!</div>
        <div ng-hide="errorMsg">Re-enter! Check the format of the fields!</div>
      </form>
  </body>
</html>
